.navbar {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding: 2rem 3rem;

  &-links_logo {
    img {
      width: 10rem;
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 2rem 2rem 1rem;

    &-menu_container {
      top: 20px;
    }
    &-links_logo {
      img {
        width: 8rem;
      }
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}
