@import "./variables.scss";

.App {
  min-height: 100vh;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 4rem;
  overflow: hidden;
}

.content {
  background-color: rgba($color: #fff, $alpha: 0.8);
  border-radius: 20px;
  min-height: 90vh;
}

@media screen and (max-width: 1050px) {
  .App {
    min-height: 100vh;
    padding: 1rem 2rem;
  }
}
