.search-bar {
    padding: 1rem 3rem;
    form{
        width: 99%;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 4px;
        box-shadow: none;
        padding: 5px 10px;
        border-radius: 40px;
    }
}